.dividerDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 60px;
}

.informationDiv {
  margin-top: 60px;
  gap: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  border-left: 1px solid #e0e0e0;
  width: 1px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textField {
  width: 600px;
  text-align: start !important;
  height: 64px !important;
  text-align-last: right;
  border-radius: 8px !important;
  padding: 0px !important;
}

.textField div {
  padding: 0px !important;
}

.textField input {
  padding-inline: 16px !important;
}

.textField textarea {
  padding: 8px 16px !important;
  border-radius: 8px !important;
}

.buttonSend {
  height: 58px;
  border-radius: 8px;
  width: 170px;
  margin-bottom: 130px;
}

/* mobile */
@media only screen and (max-width: 1200px) {
  .dividerDiv {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-inline: auto;
  }

  .informationDiv {
    justify-content: center;
    margin-inline: auto;
  }

  .divider {
    display: none;
  }
}
