.mainStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.headerStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 22px 24px;
  flex-wrap: wrap;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
}

.paginationStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  margin-top: 48px;
}

.dividerStyle {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.listCategoryStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  width: 340px;
  min-width: 340px;
  min-height: 80vh;
  height: 100%;
  border-left: 1px solid #eeeeee;
}

.listStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  margin: 24px auto;
}

.listCompanyStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.popover {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 220px;
  padding: 16px 8px;
  align-items: flex-end;
}

.headerBackRowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.headerTitleBoxStyle {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  .header-item{
    align-items: center;
    display: flex;
    gap: 12px;
  }
}

.filterbtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  @media (min-width: 992px) {
    display: none !important;
  }
}

.wantToFollowButtonStyle {
  border: 1px solid #cdcdcd !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 42px !important;
  background: #fb8c00 !important;
  color: #fff !important;
  @media (max-width: 990px) {
   font-size: 12px !important;
   padding: 5px;
  }
}

.followButtonStyle {
  border: 1px solid #e0e0e0 !important;
  font-size: 15px;
  font-weight: 500;
  height: 42px;
  background: #fff;
  color: #424242;
  border-radius: 100px;
  @media (max-width: 990px) {
    font-size: 12px !important;
    padding: 5px;
   }
}

.containerStyle {
  padding: 21px 23px;
  border: 1px solid #eeeeee;
  border-radius: 16px;
}

.clickable:hover {
  cursor: pointer !important;
}

.MemberCompanyStyle {
  margin-inline: auto;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  gap: 18px;
  height: 80px;
  padding: 0 8px;
}

.MemberCompanyStyle:hover {
  background-color: #f9f9f9;
}

.company-users {
  padding-right: 78px;
  // margin-right: 6px;
  // margin-left: 6px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  font-family: IRANYekanX;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.orderItemStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  align-items: center;
}

.orderItemStyle .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 32px;
  align-items: center;
}

.headerBackColStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 39px;
  margin-bottom: 10px;
}

.change-password {
  & .input-border {
    border: 1px solid #9e9e9e !important;
    margin-bottom: 20px;

    &.input-error {
      border: 1px solid red !important;
    }

    & input {
      padding: 0 !important;
    }

    & .MuiInputBase-formControl {
      height: 100%;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}

.no-wrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.MuiTabs-flexContainer {
  justify-content: center;
}

.followerInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.min-width-fit {
  min-width: fit-content !important;
}

.like-modal {
  max-height: 850px !important;
  overflow: scroll;
}

.related-products .react-horizontal-scrolling-menu--separator {
  background-color: #ddd;
  width: 1px;
}

.reply-comment {
  & fieldset {
    border: none !important;
  }

  & input::placeholder,
  & textarea::placeholder {
    color: #b0b0b0 !important;
    opacity: 1;
    text-align: start;
    font-size: 20px;
  }

  & input {
    color: black;
    font-weight: normal;
    text-align-last: right !important;
    direction: rtl;
  }
}

.commentTextStyle {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: end;
  color: #212121;
  margin: 0px;
  padding: 0px;
}

.commentsLayoutStyle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 42px;
  width: 100%;
  padding-left: 8px;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .orderItemStyle {
    display: none;
  }
}

.clickable {
  cursor: pointer !important;
}
