.grid {
  display: grid;
  width: 100%;
  row-gap: 36px;
  column-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* mobile */
/* @media only screen and (max-width: 1200px) {
  .grid {
    display: grid;
    row-gap: 36px;
    column-gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
} */

/* Styling */
.box {
  background: #eee;
  color: #000;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: last baseline;
  padding: 0px;
  border-radius: 13px;
  height: 280px;
  position: relative;
  cursor: pointer;
}

.descriptionBoxStyle {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  width: 100%;
  height: max-content;
  padding: 20px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  z-index: 2;
}
.description {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: end;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.newsDetailMainStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-x: hidden;
  width: 100%;
  margin-top: 28px;
  overflow-y: hidden;
}

.newsBoxButtonStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

img.newsImageStyle {
  border-radius: 13px;
  width: 200px;
}

/* mobile */
@media (max-width: 990px) {
  .newsDetailMainStyle {
    align-items: center;
    padding-right: 16px;
    display: flex;
  }
  .newsItemBoxTitle {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .wrapper {
    margin: auto;
    width: 100%;
  }
  .img {
    margin: 0 !important;
    width: 100% !important;
  }
  .imgWraper {
    width: 100% !important;
  }
  
  img.newsImageStyle {
    width: 100% !important;
    margin: 0;
  }
  .mediaImage {
    width: 100% !important;
    margin: 0 !important;
  }
}
.HTMLcontent img {
  position: relative;
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.HTMLcontent {
  width: 100% !important;
  height: auto !important;
  border-radius: 8px;
  display: block;
}

.HTMLcontent a{
  color: #0056b3;
}

.newsItemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.newsItemBoxImage {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.newsItemBoxImageLead {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

