.postDetailMainStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-x: hidden;
  width: 100%;
  margin-top: 28px;
}

.postBoxButtonStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.postBoxButtonTextStyle {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: end;
  color: #212121;
  margin: 0px;
  padding: 0px;
}

/* mobile */
@media only screen and (max-width: 1200px) {
  .postDetailMainStyle {
    padding-right: 16px;
  }
}
