.personalInfoMainDiv {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-inline: auto;
  padding-inline: 128px;
  width: 100%;
  height: 100%;
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.progressBar {
  width: 100px;
  height: 6px;
  background-color: #00c853;
  border-radius: 15px;
  overflow: hidden;
}

.progressBarInner {
  height: 6px;

  background-color: #f2f2f2;

  transition: width 0.3s ease-in-out;
}

.personalGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 36px;
}

.personalContactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 36px;
  grid-template-rows: auto auto auto;
}

.personalContactGrid > :nth-child(3) {
  grid-column: 1 / 2;
}

.personalContactGrid > :nth-child(4) {
  grid-column: 1 / -1;
}

.personalContactGrid .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.personalContactGrid .column .rowSpaceBetween {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px 16px 8px 8px;
}

.personalGrid .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.personalGrid .column .rowSpaceBetween {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px 16px 8px 8px;
}

.personalGridColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.profileInputBorderStyle {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px 16px 8px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.activityMainDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 17px;
}

.activityGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

.activityButton {
  border-radius: 16px;
  transition: " background 200ms";
  padding: "0px";
}

.mainSocialDiv {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}
.SocialGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 36px;
}

.SocialGrid .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.SocialGrid .column .rowSpaceBetween {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px 16px 8px 8px;
  height: 48px;
}
