.chatContainer {
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(62vh - 70px);
}

.ListContainer {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 62vh;
}

.userMessage {
  background-color: #dff0d8;
  padding: 10px 16px;
  margin-bottom: 10px;
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  align-self: flex-end;
  display: flex;
}

.botMessage {
  background-color: #d9edf7;
  display: flex;
  padding: 10px 16px;
  margin-bottom: 10px;
  margin-left: 14px;
  border-radius: 16px;
  border-bottom-left-radius: 0px;
  align-self: flex-start;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to message items */
.userMessage,
.botMessage {
  animation: fadeIn 0.5s ease-in-out;
}

.inputMessageBox {
  width: 100%;
  border-top: 1px solid #eeeeee;
  height: 52px;
  padding-inline: 20px;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  background-color: #fff;
}

.chatHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}