.mainPlanDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
  margin-inline: auto;
}

.planBox {
  height: fit-content;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #e0e0e0;
  padding: 32px 24px;
  border-radius: 8px;
}

.mainPlanDiv .divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 32px;
}

.border-4 {
  border-top: 8px solid #f2a23f;
}

.border-2 {
  border-top: 8px solid #4a99e9;
}

.border-3 {
  border-top: 8px solid #8d6e63;
}

.border-1 {
  border-top: 8px solid #4a99e9;
}

.boxBorder {
  border-top: 8px solid #e0e0e0;
}