.headerStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 24px 5px 24px;
  flex-wrap: wrap;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  min-height: 122px;
  align-items: center;
}

.listCategoryStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 270px;
  min-height: 100%;
  height: 100%;
}

.listCompanyStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 1025px){
    flex-direction: column;
  }
}

.mediaList {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}



@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.spinnerIcon {

  animation: spin 1s linear infinite;
  color: #fb8c00;
  font-size: large;
  margin-right: 5px;
}
